BODY {
	color: #111111;
	background-color: #EEEEEE;
}
h1,h2,h3,h4,h5 {
    font-family:"arial";
}
.list {
  font-family: "Times New Roman", Times, serif;
}
.lst{
  font-family: monospace;
}
.paragraph {
  text-justify: inter-word;
  font-family: "Times New Roman", Times, serif;
}
.table {
  font-family: "Times New Roman", Times, serif;
}
table.table {
  margin-left: auto;
  margin-right: auto;
}
pre {
  width: 90%;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
}
.leftnote {
	width: 5em;
	font-size:small;
}
.sidenote {
	width: 15%;
	font-size:small;
}
div.test {
  max-width: 45%;
  padding: 15px 15px 15px 50%;
  color: red;
}

.test p {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
  font-size: 12px;
  text-indent: -30px;
}
.toc {
	color: #000000;
	background-color: #DDDDDD;
	width: 100%;
}
div.cel {
	color: #111188;
}
div.list {
	background-color: #FEFEFE;
}
.fixed {
	font-family:"Courier New";
}

